body{
    background-color: #FAFAF8;
}

/* .main-section{
    max-width: 1380px;
    margin:0px 200px
} */

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering */
}
